@model AdminModel

@{
    ViewBag.Title = "Create New Role";
}

<form asp-action="Create_Role" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-7 p-5 border bg-light shadow-lg p-5 mb-5 mt-5 bg-body rounded" style="text-align:center">
                <i class="bi bi-check-square-fill display-4 text-primary"></i>
                <h5 class="text-center">Create a New Role</h5>
                <input asp-for="RoleName" placeholder="Create a new role" class="form-control" placeholder="Name">
                <span asp-validation-for="RoleName" class="text-danger"></span><br />
                <button type="submit" class="btn btn-primary" style="width:100%">
                    Create Role
                </button>
                <hr />
                <a class="btn btn-secondary mb-1" style="width:auto" asp-action="ListRoles"
                   asp-controller="Admin">View List</a>
            </div>


        </div>
    </div>
</form>
